    *{
        margin : 0 ;
        font-family : Arial;
        box-sizing: bOrder-box;
    }

    body{
        background-color: #e2e7e6;
    } 

    .navbar{
        position: fixed;
        top : 0;
        left : 0;
        right: 0;
        z-index: 1;
        height : 52px ;
        background-color: #333;
        color : white;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo{
        width: 350px;
        bOrder-radius: 6px;
        height: 40px;
        bOrder: 1px solid white;
        background-image: url("image/CEERI.png");
        background-size: cover;
    }

    .nav-search{
        display: flex;
        justify-content: space-evenly;
        background-color: #ffb34f;
        height: 40px;
        width: 700px;
        bOrder-radius: 6px;
        bOrder: none;
    }

    .searchinput{
        bOrder-top-left-radius: 6px;
        bOrder-bottom-left-radius: 6px;
        width: 100%;
        font-size: 1rem;
        bOrder: none;
        outline: none;
    }

    .search-color {
        position: relative;
        bOrder: 2.3px solid transparent;
        transition: bOrder-color 0s;
    }

    .search-color:hover {
        bOrder-color:  #ffb657;
        bOrder-radius: 9px;
    }

    .search-icon{
        display : flex;
        width: 48px;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        cursor: pointer;
    }
    
    .account p {
        font-size: 20px;
        transition: color 0.3s, transform 0.3s; 
    }

    .account p:hover{
        color: #febd68;
        cursor: pointer;
        transform: scale(1.1); 
    }

    .cart {
        display: flex;
        font-size: 20px;
        align-items: center;
        transition: color 0.3s, transform 0.3s;
    }

    .cart i {
        font-size: 20px;
        padding-right: 6px;
        transition: color 0.3s, transform 0.3s; 
    }

    .cart:hover {
        color: #febd68; 
        cursor: pointer;
        transform: scale(1.1); 
    }

    .cart a {
        color: white;
        text-decoration: none;
        transition: color 0.3s, transform 0.3s; /* Added transition for color and transform */
    }

    .cart:hover a {
        color: #febd68; /* Change the color of the text on hover */
    }

    .container{
        position: relative;
    }

    .heroimg{
        background-image: url("image/csir_ceeri_cover.jpg");
        height: 500px;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: end;
        overflow: visible;
        background-position: center 20px;
    }

    .hero-text{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-size: 18px;
        font-weight: 800;
        width: 100%;
        margin-bottom: 170px;
        overflow: hidden;
        white-space: nowrap;
    }

    .scroll {
        animation: scroll 20s linear infinite ;
    }

    @keyframes scroll {
        from{
            transform:translateX(100%) ;
        }
        to{
            transform: translateX(-100%);
        }
    }

    @keyframes fadeInUp {
        from {
        opacity: 0;
        transform: translateY(20px);
        }
        to {
        opacity: 1;
        transform: translateY(0);
        }
    }
    
    .box {
        opacity: 0;
        transition: opacity 0.6s, transform 0.6s;
    }
    
    .box.visible {
        animation: fadeInUp 0.6s forwards;
    }
    

    .shop{
        position: absolute;
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        background: transparent;
        justify-content: space-evenly;
        /* background-color: #e2e7e6; */
        top: 65%;
    }

    .box{
        bOrder: none;
        height: 310px;
        width: 24%;
        background-color: white;
        margin-top: 15px;
        margin-bottom: 15px;
        transition: all ease-in;
    }

    .box-content:hover{
        transform: scale(1.05);
        padding-bottom: 50px;
    }

    .box-img{
        height: 210px;
        background-size: cover;
        margin-top: 5px;
        margin-bottom: 13px;
    }

    .box-content{
        margin: 15px;
    }

    .box h2{
        font-size: 23px;
    }

    .line{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .line p{
        font-size: 15px;
        font-weight: 500;
    }

    span{
        font-size: 15px;
    }

    .add-cart {
        background-color: #28a745;
        color: #fff;
        bOrder: none;
        bOrder-radius: 8px;
        height: 30px;
        width: 100px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .add-cart:hover {
        background-color: #176827;
    }

    .add-cart:active {
        background-color: #1e7e34;
    }

    .QTY {
        display: flex;
        align-items: center;
    }

    .QTY-btn {
        background-color: #ccc;
        bOrder: none;
        bOrder-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 1em;
        cursor: pointer;
        margin: 0 8px;
    }

    .QTY-btn:active {
        background-color: #bbb;
    }

    #QTY-value {
        font-size: 1.2em;
    }










    /* SignIn/SingUp styles */

    .modal {
        display: none; 
        position: fixed; 
        z-index: 1000; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgba(0, 0, 0, 0.5); /* Slightly darker overlay */
    }

    /* Add a pseudo-element for the background blur effect */
    .modal::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
        backdrop-filter: blur(5px); /* Add the blur effect */
        z-index: -1; /* Place behind the modal content */
    }

    .modal-content {
        background-color: #fff; 
        margin: 5% auto; 
        padding: 30px; 
        bOrder-radius: 8px; 
        width: 95%; 
        max-width: 500px; 
        box-shadow: 0 4px 12px rgba(0,0,0,0.3); 
        position: relative; /* Allows positioning of the close button */
    }

    .close-btn {
        color: #007BFF; 
        position: absolute; /* Position it relative to the modal-content */
        top: 00px; /* Distance from the top of the modal-content */
        right: 10px; /* Distance from the right edge of the modal-content */
        font-size: 24px; 
        font-weight: bold; 
        cursor: pointer; 
    }

    .close-btn:hover,
    .close-btn:focus {
        color: #0056b3; 
    }

    #modal-tabs {
        display: flex; 
        margin-bottom: 20px; 
    }

    #modal-tabs button {
        background-color: #007BFF; 
        bOrder: none; 
        padding: 12px 20px; /* Adjusted padding */
        bOrder-radius: 4px; 
        cursor: pointer; 
        font-size: 1em; 
        color: #fff; 
        transition: background-color 0.3s ease, color 0.3s ease; 
        flex: 1; /* Make buttons take equal space */
    }

    #modal-tabs button:not(:last-child) {
        margin-right: 10px; /* Add space between buttons */
    }

    #modal-tabs button.active {
        background-color: #0056b3; 
    }

    #modal-tabs button:hover {
        background-color: #0056b3; 
    }

    .form-section {
        display: none; 
    }

    #forgot-password-link {
        margin-top: 10px;
        text-align: left;
        color: #007bff;
        text-decoration: none;
        font-size: 14px;
        display: block;
    }

    #forgot-password-link:hover {
        text-decoration: underline;
        color: #0056b3;
    }


    .form-section.active {
        display: block; 
    }

    .modal h2 {
        margin-top: 0; 
        color: #333; 
        font-size: 1.5em; 
    }

    .modal form {
        display: flex; 
        flex-direction: column; 
    }

    .modal form label {
        margin: 10px 0 5px; 
        font-weight: bold; 
        color: #555; 
    }

    .modal form input {
        padding: 12px; 
        margin-bottom: 15px; 
        bOrder: 1px solid #ddd; 
        bOrder-radius: 4px; 
        font-size: 1em; 
        width: 100%; 
    }

    .modal form button {
        padding: 12px; 
        bOrder: none; 
        bOrder-radius: 4px; 
        background-color: #007BFF; 
        color: #fff; 
        font-size: 1em; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
    }

    .modal form button:hover {
        background-color: #0056b3; 
    }








    /* Order history section styles */

    .Order-history-section {
        background-color: #fff;
        padding: 20px;
        bOrder-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 70px auto;
        width: 90%;
        max-width: 1200px;  
    }

    .Order-history-section h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    .Order-details h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .Order-status {
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px; /* Adjust this value as needed */
    }

    .status-completed {
        font-size: 1.5em;
        color: #555; 
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px; 
        font-weight: bold;
    }






    /* Cart Section Styles */

    .empty-message {
        font-size: 1.5em;
        color: #555; 
        text-align: center; /* Center the text */
        margin-top: 20px;
        margin-bottom: 20px; 
        font-weight: bold;
    }


    .cart-section {
        background-color: #fff;
        padding: 20px;
        bOrder-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 70px auto;
        width: 90%;
        max-width: 1200px; 
    }

    .cart-section h1 {
        margin-bottom: 20px;
        text-align: center;
    }

    .cart-list {
        width: 100%;
    }

    .cart-list .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px; 
        bOrder: 5px solid #ccc; 
        bOrder-radius: 8px; 
        margin-bottom: 15px; 
        background-color: #fff; 
        box-shadow: 10px 5px 5px #ccc;
    }

    .item-details h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .item-details p {
        font-size: 14px;
        color: #666;
    }

    .item-actions .remove-btn {
        background-color: #dc3545;
        color: white;
        bOrder: none;
        bOrder-radius: 4px;
        padding: 8px 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .item-actions .remove-btn:hover {
        background-color: #c82333;
    }

    .cart-total h2 {
        text-align: right;
        font-size: 18px;
        margin-top: 20px;
    }

    .checkout-actions {
        text-align: right;
        margin-top: 20px;
    }

    .checkout-btn {
        background-color: #28a745;
        color: white;
        bOrder: none;
        bOrder-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .checkout-btn:hover {
        background-color: #218838;
    }

    .checkout-btn:active {
        background-color: #1e7e34;
    }








    /* Footer-section */

    html, body {
        height: 100%;
        margin: 0;
    }

    .main{
        min-height: 100vh; /* Ensure the content area covers the viewport height */
        margin-bottom: 100px; /* Make space for the footer */
        box-sizing: border-box;
    }


    footer {
        position: relative;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 1000px; /* Adjust this as needed to ensure it's visible above the shop section */
    }

    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-section {
        flex: 1;
        margin: 10px;
    }

    .footer-section h2 {
        border-bottom: 2px solid #febd68;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .footer-section p {
        margin: 5px 0;
    }

    .footer-section a {
        color: #febd68;
        text-decoration: none;
    }

    .footer-section a:hover {
        text-decoration: underline;
    }

    .social-media {
        display: flex;
        gap: 10px;
        justify-content: center;
        text-align: center;
    }

    .social-icon {
        color: #febd68;
        font-size: 20px;
    }

    .social-icon:hover {
        color: #fff;
    }

    .footer-bottom {
        background-color: #222;
        text-align: center;
        padding: 10px;
        margin-top: 20px;
    }

    .footer-bottom p {
        margin: 0;
        padding-top: 4px;
        font-size: 14px;
    }

    



